{% extends 'admin.html.twig' %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
    $(document).ready(function () {
       $('#summernote').summernote()
    })     
    </script>

{% endblock %}

{% block body %}

    <div id="summernote"><p>
	something else for redacting
    </p></div>

    {% for client in clients %}
	<h4>client ept - {{client.fname}}</h4>
    {%  endfor %}
    
    {{parent()}}
    
{% endblock %}


